.home {
    font-family: Arial, sans-serif;
}
.home-hero-wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('../../../public/image/wavebg2.svg');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.home-hero-pattern1 {
    position: absolute;
    top: 30%;
    left: 0;
}

.home-hero-pattern2 {
    position: absolute;
    top: 40%;
    right: 20px;
}

.home-hero {
    width: 100%;
    min-height: 90vh;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-hero img {
    width: 640px;
    position: relative;
    z-index: 2;
}

.home-hero-text {
    max-width: 600px;
    position: relative;
    z-index: 2;
}

.home-hero-text h1 {
    font-weight: 400;
    font-size: 2.6rem;
    color: #09263F;
}

.home-hero-text h1 span {
    font-weight: 900;
    font-size: 2.6rem;
}

.home-hero-text p {
    padding: 6px 0px 28px 0px;
}

.home-hero-text button {
    padding: 14px 40px;
    background: #09263f;
    color: aliceblue;
    font-weight: 500;
    border-radius: 60px;
}

@media (max-width: 620px) {
    .home-hero {
        flex-direction: column;
        gap: 40px;
        padding: 80px 20px;
    }

    .home-hero img {
        width: 100%;
    }

    .home-hero-text {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .home-hero-text h1 {
        font-size: 2.4rem;
    }
}
/* .hero {
    background-color: #F4F7F6;
    color: #FFFFFF;
    padding: 100px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 50%;
    margin-left: 5%;
}

.hero h1 {
    color: #283779;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero p {
    color: #333333;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-image {
    max-width: 40%;
    margin-right: 5%;
}

.hero-image img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.cta-button {
    background-color: #283779;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #F2994A;
    color: #FFFFFF;
} */

.features {
    padding: 50px 20px;
    background-color: #FFFFFF;
}

.feature {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
/* .feature:hover{
    background-color: rgb(145, 204, 234);
} */
.feature:nth-child(odd)
{
    background-color:#B1DBEC;
}
.feature:nth-child(even) .feature-content {
    order: 1;
}

.feature:nth-child(even) .feature-image {
    order: 0;
}

.feature-content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-content h2 {
    color: #09263F;
    font-size: 2.5em;
    
}

.feature-content p {
    color: #333333;max-width:500px;text-align: justify;
}

.feature-button {
    background-color: #09263F;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.feature-button:hover {
    background-color: #164975;
}

.feature-image {
    flex: 1;
    max-width:600px;max-height:460px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.about-us {
    background-image: url('./about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.about-us h2 {
    /* color: #2D9CDB; */
    font-size: 2em;
}

.about-us p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Background color for text container */
    padding: 20px;
    border-radius: 10px;
}

.about-us img {
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 80px 0;
    }

    .hero-content {
        max-width: 80%;
        margin: 0 auto;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1em;
        margin-bottom: 20px;
    }

    .hero-image {
        max-width: 80%;
        margin: 20px 0;
    }

    .cta-button {
        padding: 12px 24px;
        font-size: 1em;
    }
}